
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 bg-dark" style=" height: 100vh;">
    </div>
    <div class="col-md-9">
      <h5 class="mt-4">Basic information</h5>
      <form [formGroup]="documentForm" (ngSubmit)="createFile()">
        <div class="row mt-5">
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 1</label>
              <input type="text" id="form4Example1" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie1"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 2</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie2"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 3</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie3"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 4</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " />
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 1</label>
              <input type="text" id="form4Example1" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie1"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 2</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie2"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 3</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie3"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 4</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " />
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 1</label>
              <input type="text" id="form4Example1" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie1"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 2</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie2"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 3</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie3"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 4</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " />
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 1</label>
              <input type="text" id="form4Example1" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie1"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 2</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie2"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 3</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie3"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 4</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " />
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 1</label>
              <input type="text" id="form4Example1" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie1"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 2</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie2"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 3</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie3"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 4</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " />
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 1</label>
              <input type="text" id="form4Example1" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie1"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 2</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie2"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 3</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " formControlName="propertie3"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Propertie 4</label>
              <input type="email" id="form4Example2" class="form-control border-top-0 border-right-0 border-left-0 " />
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
      </form>
     
    </div>
  </div>
</div>
<!--
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="documentForm" (ngSubmit)="createFile()">
        
                <div class="form-outline mb-4">
                  <label class="form-label" for="form4Example1">Name</label>
                  <input type="text" id="form4Example1" class="form-control" formControlName="propertie1"/>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form4Example1">Name</label>
                  <input type="email" id="form4Example2" class="form-control" formControlName="propertie2"/>
                </div>
              
                <div class="form-outline mb-4">
                    
                  <label class="form-label" for="form4Example3">Message</label>
                  <textarea class="form-control" id="form4Example3" rows="4" formControlName="propertie3"></textarea>
                </div>
              
              
                <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
              </form>
        </div>
    </div>
</div>
-->